# SO / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python / Notebooks
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.venv/
venv/
env/

# Logs y temporales
*.log
*.tmp
*.bak

# Office temporales
~$*.docx
~$*.xlsx
~$*.pptx

# Builds / artefactos
dist/
build/

# Config local
.env

# Sistema
*.swp
